MVC/Connected Services/ResultsService/ApplicationService.DTOs.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://schemas.datacontract.org/2004/07/ApplicationService.DTOs" elementFormDefault="qualified" targetNamespace="http://schemas.datacontract.org/2004/07/ApplicationService.DTOs" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:complexType name="ArrayOfResultDTO">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="ResultDTO" nillable="true" type="tns:ResultDTO" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfResultDTO" nillable="true" type="tns:ArrayOfResultDTO" />
  <xs:complexType name="ResultDTO">
    <xs:sequence>
      <xs:element minOccurs="0" name="Athlete" nillable="true" type="tns:AthleteDTO" />
      <xs:element minOccurs="0" name="AthleteId" type="xs:int" />
      <xs:element minOccurs="0" name="Event" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Game" nillable="true" type="tns:GameDTO" />
      <xs:element minOccurs="0" name="GameId" type="xs:int" />
      <xs:element minOccurs="0" name="Id" type="xs:int" />
      <xs:element minOccurs="0" name="Position" type="xs:int" />
      <xs:element minOccurs="0" name="Team" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ResultDTO" nillable="true" type="tns:ResultDTO" />
  <xs:complexType name="AthleteDTO">
    <xs:sequence>
      <xs:element minOccurs="0" name="Country" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="DOB" nillable="true" type="xs:dateTime" />
      <xs:element minOccurs="0" name="FirstName" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Height" type="xs:int" />
      <xs:element minOccurs="0" name="Id" type="xs:int" />
      <xs:element minOccurs="0" name="LastName" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Weight" type="xs:int" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="AthleteDTO" nillable="true" type="tns:AthleteDTO" />
  <xs:complexType name="GameDTO">
    <xs:sequence>
      <xs:element minOccurs="0" name="Closing" nillable="true" type="xs:dateTime" />
      <xs:element minOccurs="0" name="HostCity" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Id" type="xs:int" />
      <xs:element minOccurs="0" name="Opening" nillable="true" type="xs:dateTime" />
      <xs:element minOccurs="0" name="Results" nillable="true" type="tns:ArrayOfResultDTO" />
      <xs:element minOccurs="0" name="Title" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="GameDTO" nillable="true" type="tns:GameDTO" />
</xs:schema>