MVC/Connected Services/AthletesService/ApplicationService.DTOs.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://schemas.datacontract.org/2004/07/ApplicationService.DTOs" elementFormDefault="qualified" targetNamespace="http://schemas.datacontract.org/2004/07/ApplicationService.DTOs" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:complexType name="ArrayOfAthleteDTO">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="AthleteDTO" nillable="true" type="tns:AthleteDTO" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfAthleteDTO" nillable="true" type="tns:ArrayOfAthleteDTO" />
  <xs:complexType name="AthleteDTO">
    <xs:sequence>
      <xs:element minOccurs="0" name="Country" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="DOB" nillable="true" type="xs:dateTime" />
      <xs:element minOccurs="0" name="FirstName" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Height" type="xs:int" />
      <xs:element minOccurs="0" name="Id" type="xs:int" />
      <xs:element minOccurs="0" name="LastName" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Weight" type="xs:int" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="AthleteDTO" nillable="true" type="tns:AthleteDTO" />
</xs:schema>